/node_modules
.env
*.backup
*.bac
*.back
*.bak
.phpunit.result.cache
npm-debug.log
yarn-error.log
package-lock.json

.idea
.vc
/.idea

/public/*
!/public
/.temp*

## Wasm temp folder
/resources/wasm/*